.wrapper{
    float: left;
}
.block{
    display: block;
    background:yellowgreen;
    width: 200px;
    height: 86.25px;
}

.block{
    cursor: pointer;
}

.active{
    background: blanchedalmond;
}

.slider {
    width:907px;
    overflow-x:hidden;
    overflow-y:hidden;
}
ul {
    list-style:none;
    display:block;
    white-space:nowrap;
    margin: 0;
    padding: 0;
    left: 0;
}
li {
    display:inline;
}
ul li{
    margin-left: -.21em;
}